/* Iniciamos usando o design mobile-first, iniciando 
pelos dispositivos de menor largura atualmente (320px). */

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  border: 3px solid black;
  width: 300px;
}

